<h1 class="center">Welcome to Epiventure!</h1>

<h3>Epiventure is a choose your own adventure roleplaying game. You are a new student at Epicudus, a coding bootcamp in Portland, Oregon. As you make decisions and navigate your way through the program, you can either get points and make your way to the internship or fail or have a nervous breakdown along the way.</h3>
<div *ngIf="playerNoCreated">
  <div class="row center">
    <span class="col-md-3"></span>
    <div class="col-md-6">
      <h3>Create your Character</h3>
      <form>
        <div class="form-group">
          <label for="userName">Character Name</label>
          <input #userName class="form-control" type="text" name="userName">
        </div>
        <div class="selecter">
          <select #character (change)="onChange($event.target.value)">
            <option value="blank">Select a Character!</option>
            <option value="nerd">Super Nerd</option>
            <option value="cool">Cool Dude</option>
            <option value="workhorse">Work Horse</option>
            <option value="overachiever">Overachiever</option>
            <option value="slacker">Slacker</option>
          </select>
        </div>
        <br>
        <button (click)="createUser(userName.value, character.value); userName.value=''" class="btn">Submit Your Character!</button>
      </form>
    </div>
  </div>

  <br>
  <div *ngIf="nerdAvatar" class="row center">
    <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-33-128.png" alt="nerd picture" />
  </div>
  <div *ngIf="coolAvatar" class="row center">
    <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-10-128.png" alt="cool guy picture" />
  </div>
  <div *ngIf="workhorseAvatar" class="row center">
    <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-21-128.png" alt="nerd picture" />
  </div>
  <div *ngIf="overachieverAvatar" class="row center">
    <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-28-128.png" alt="cool guy picture" />
  </div>
  <div *ngIf="slackerAvatar" class="row center">
    <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-03-128.png" alt="cool guy picture" />
  </div>
</div>

<div *ngIf="playerCreated">
  <button class="btn btn-success form-control">Start Game</button>
</div>









<!-- FAILED RADIO BUTTON INPUT -->
<!-- <div class="form-group">
  <label for="character">Driving Characteristic:</label>&nbsp;&nbsp;&nbsp;
  <div class="radio-inline">
    <label><input #character type="radio" name="character" [value]="1">Super Nerd</label>
  </div>
  <div class="radio-inline">
    <label><input #character type="radio" name="character" [value]="2">Cool Dude</label>
  </div>
  <div class="radio-inline">
    <label><input #character type="radio" name="character" [value]="3">Work Horse</label>
  </div>
  <div class="radio-inline">
    <label><input #character type="radio" name="character" [value]="4">Overachiever</label>
  </div>
  <div class="radio-inline">
    <label><input #character type="radio" name="character" [value]="5">Slacker</label>
  </div>
</div> -->
